
.header_container {
    align-items: center;
    background: rgb(239, 239, 239);
    display: flex;
    height: 10vh;
    width: 100%;
}

.header_link {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: center;

    p {
        margin: 0;
    }

    &:hover {
        background: #ccc;
    }

}