
.header_container {
    align-items: center;
    background: rgb(239, 239, 239);
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
}

.header_link {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;

    &:hover {
        background: #ccc;
    }

}