
.formscreen_container {
    display: flex;
    height: calc(80vh - 2rem);
    margin-top: 2rem;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.formscreen_section {
    display: flex;
    flex: 1;
    max-width: 100%;
}