
.button_base {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.buttons_main {
    @extend .button_base;
    background-color: $main;
    color: white;

    &:hover {
        filter: opacity(0.8);
    }

}

.buttons_secondary {
    @extend .button_base;
    background-color: $secondary;
    color: white;

    &:hover {
        filter: opacity(0.8);
    }

}

.buttons_form {
    &:disabled {
        filter: opacity(0.5);
        cursor: not-allowed;
    }
}