
/*  Margins  */
.mar-1 {
    margin: 15px;
}

.margin-bot-1 {
    margin-bottom: 15px;
}

.margin-end-1 {
    margin-right: 15px;
}

/*  Paddings  */
.pad-1 {
    padding: 15px;
}

.pad-top-1 {
    padding-top: 15px;
}

.pad-x-1 {
    padding-left: 15px;
    padding-right: 15px;
}


/*  Elements styling.   */

.ui_input {
    border: 1px solid $lightgrey;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}